{% extends "item.jinja2" %}
{% set teacher_mode = route in ("teacher", "answers", "review") %}
{% set student_mode = route in ("view", "answers", "review") %}

{% block title %}{{ item.title }}{% endblock %}

{% block head %}
    {{ super() }}

    {# without this, lazy loading embedded_sagecell won't work because it doesn't know URL root #}
    <link property="sagecell-root" href="https://sagecell.sagemath.org/"/>

    {{ doc_head|safe }}
{% endblock %}

{% set col_1_lg = 2 %}
{% set col_2_lg = 7 %}
{% set col_3_lg = 3 %}

{% set col_1_md = 0 %}
{% set col_2_md = 12 %}
{% set col_3_md = 0 %}

{% set col_1_sm = 0 %}
{% set col_2_sm = 12 %}
{% set col_3_sm = 0 %}

{% block mainctrl %}tim-view{% endblock %}

{% block rightside %}
    {% if access.accessible_to %}
        <tim-time-left end-time="{{ access.accessible_to }}"></tim-time-left>
    {% endif %}

    {% if teacher_mode %}
        <div save="%%PAGEID%%studentList" class="userFixed" tim-draggable-fixed click="true" caption="{{ '{{ $ctrl.users.length }}' }} users with answers">
            <tim-user-list class="draggable-content" on-user-change="$ctrl.changeUser($USER)" users="$ctrl.users"></tim-user-list>
        </div>
    {% endif %}
{% endblock %}

{# NOTE: Keep the below HTML static (i.e. don't put more variables there, other than the "doc_content"). #}

{% block content %}
    <form name="ignore_me">
        <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
    </form>
    {{ doc_content|safe }}
    <tim-template-list ng-if="$ctrl.item.rights.editable" ng-show="$ctrl.isEmptyDocument()" [doc]="$ctrl.item"></tim-template-list>
    <bootstrap-panel ng-if="$ctrl.item.rights.manage" ng-show="$ctrl.isEmptyDocument()"
                     title="Review document permissions"
                     show-close="true"
                     ng-cloak>
        <p>These are the current permissions for this document; please modify if needed.
            You can always modify these permissions from the manage page.</p>
        <tim-rights-editor
                item-id="$ctrl.docId">
        </tim-rights-editor>
    </bootstrap-panel>
{% endblock %}
