<div>
  <table>
       <thead>
            <tr>
                <th> Nimi</th>
                <th> Arvioijat </th>
            </tr>
        </thead>
       <tbody>
       <ng-container cdkDropListGroup>
            <tr *ngFor="let d of data; let i = index">
              <td class="name"> {{d.name }}</td>
              <td class="reviewers">
                  <div
                      cdkDropList
                      [cdkDropListData]="d.reviewers"
                      class="list"
                      cdkDropListSortingDisabled
                      (cdkDropListDropped)="drop($event)">
                     <button *ngFor="let c of d.reviewers; let j = index" cdkDrag>
                              {{c}}
                     </button>
                    <button mat-button [ngStyle]="{'color': 'red'}" *ngIf="d.reviewers.length === 0"> Lisää arvioija ...</button>
                  </div>
              </td>
            </tr>
       </ng-container>
       </tbody>
  </table>
  <div class="button-container">
  <button (click)="TestFunction()">Arvo uudet</button>
  <p *ngIf="message">
    {{message}}
  </p>
  </div>
</div>
