{% set dtm = doc_settings.get_doctexmacros() %}
{% if dtm %}
<p style="visibility: hidden;"><span class="math inline">\({{dtm}}\)</span></p>
{% endif %}
<div class="paragraphs">
    <tim-view-range-navigation></tim-view-range-navigation>
    {% if peer_review_start and peer_review_stop %}
    <div class="taskSummary">
             Time before review starts:
            <tim-countdown parse-end-time="{{ peer_review_start }}"></tim-countdown>.
            Time left to review tasks:
            <tim-countdown parse-end-time="{{ peer_review_stop }}"></tim-countdown>.
    </div>
    {% endif %}
    {% if task_info and task_info.show %}
    <div class="taskSummary">
                <span>
                <strong>Task Summary</strong>
                Total points: {{ task_info.total_points }}&nbsp;
                    {%- if task_info.groups %}
                    {%- if task_info.breaklines %}
                            <br>
                    {%- for k, v in task_info.groups.items() -%}
                    {{ v.text }}{%- if v.link %} <a href="{{ v.link}}">{{ v.linktext }}</a>{%- endif -%}<br>
                    {%- endfor -%}
                    {%- else -%}
                            ({%- for k, v in task_info.groups.items() -%}
                    {{ v.text }}{% if not loop.last %}, {% endif %}
                    {%- endfor -%}),&nbsp;
                    {%- endif -%}
                    {%- endif -%}
                total tasks: {{ task_info.tasks_done }}&nbsp;/&nbsp;{{ task_info.total_tasks }}
                </span>
        <span style="font-size: x-small;" ng-click="reload()">Refresh (F5) to recount</span>
    </div>
    <div class="taskSmallSummary"><p>{{ task_info.total_points }} p</p></div>
    {% endif %}
    <div id="pars">
        {% include 'partials/paragraphs.jinja2' %}
        <div ng-cloak class="addBottomContainer hidden-print" ng-show="$ctrl.item.rights.editable"
             ng-class="{'height-35': $ctrl.editing}">
            {% set btntext = doc_settings.add_par_button_text() %}
            {% if btntext and not nav_ranges %}
            <button class="addBottom timButton">{{ btntext }}</button>
            {% endif %}
        </div>
    </div>
    <velp-selection ng-if="$ctrl.showVelpSelection()">
    </velp-selection>
    <tim-view-range-navigation></tim-view-range-navigation>
</div>
